.login_box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login_div {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    box-shadow: var(--box-shadow);
    width: 40rem;
    margin-top: 5rem;
}

.login_input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
}

.createAccount {
    display: flex;
    justify-content: center;
}

.login_signup_link {
    color: var(--primary-color);
    text-decoration: underline;
}

.showHideDiv {
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

.hideIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
}

.passwordIcon {
    background-color: white;
    color: black;
}

.passwordInputDiv {
    border: none;
}